<header class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to 'Social Network', '/', id: 'logo', class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end mt-2 mt-lg-0" id="navbarSupportedContent">
      <%= form_with url: new_user_session_path, method: :post, local: true, class: 'row row-cols-lg-auto g-3 align-items-center' do |form| %>
        <div class="col-md-12">
          <input type="email" class="form-control me-2" id="email" placeholder="Email" aria-label="Email">
        </div>

        <div class="col-md-12">
          <input type="password" class="form-control me-2" id="password" placeholder="Password" aria-label="Password">
        </div>

        <div class="col-12">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember_me">
            <label class="form-check-label text-white" for="remember_me">Remember me</label>
          </div>
        </div>

        <div class="col-md-12">
          <button class="btn btn-outline-light text-nowrap" type="submit">Sign in</button>
        </div>
      <% end %>
    </div>
  </div>
</header>
